.section1Home{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}
.hautSection1home{
    display: flex;
    font-weight: bold;
    font-size: 2em;
}
.basSection1home{
    display: flex;
    flex-wrap: wrap;
}
.cardsection1Home{
    display: flex;
    align-items: center;
    width: 18em;
    padding: 1em;
    border: ridge black 2px;
    border-radius: 1em;
    background:linear-gradient(rgba(250, 247, 247, 0.5), rgba(253, 252, 252, 0.5)), url(../assets/images//livre1.jpg);
    box-shadow: -8px 2px 56px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 2px 56px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 2px 56px -16px rgba(0,0,0,0.75);
    background-size: cover;
}

.gaucheCardsection1home img{
    height: 10em;
    width: 7em;

}
.droitCardsection1home{
    padding: 0.7em;
    font-size: small;
    display: flex;
    flex-direction: column;
}
.droitCardsection1home p{
    width: 8em;
    font-weight: 550;
}